<nav class="book-nav" aria-label="Book navigation">
  <div class="book-nav-header">
    <a href="/programming-logic/" class="book-nav-root">Programming Logic</a>
  </div>

  <ul class="book-nav-tree">
    <li class="book-nav-item">
      <a href="/programming-logic/" class="book-nav-link">00 - Intro</a>
    </li>

    <li class="book-nav-item">
      <a href="/programming-logic/ch01/" class="book-nav-link">01 - Hardware &amp; Software</a>
      <ul class="book-nav-children">
        <li class="book-nav-item">
          <a href="/programming-logic/ch01/01.1/" class="book-nav-link">01.1 - Hardware</a>
        </li>
        <li class="book-nav-item">
          <a href="/programming-logic/ch01/01.2/" class="book-nav-link">01.2 - Software</a>
        </li>
        <li class="book-nav-item">
          <a href="/programming-logic/ch01/01.3/" class="book-nav-link">01.3 - Software Development Life Cycle</a>
        </li>
        <li class="book-nav-item">
          <a href="/programming-logic/ch01/01.4/" class="book-nav-link">01.4 - Integrated Development Environments</a>
        </li>
      </ul>
    </li>

    <li class="book-nav-item">
      <a href="/programming-logic/ch02/" class="book-nav-link">02 - Variables</a>
      <ul class="book-nav-children">
        <li class="book-nav-item">
          <a href="/programming-logic/ch02/02.1/" class="book-nav-link">02.1 - Variables</a>
        </li>
        <li class="book-nav-item">
          <a href="/programming-logic/ch02/02.2/" class="book-nav-link">02.2 - Assigning Values</a>
        </li>
        <li class="book-nav-item">
          <a href="/programming-logic/ch02/02.3/" class="book-nav-link">02.3 - Constants</a>
        </li>
        <li class="book-nav-item">
          <a href="/programming-logic/ch02/02.4/" class="book-nav-link">02.4 - Hoisting</a>
        </li>
        <li class="book-nav-item">
          <a href="/programming-logic/ch02/02.5/" class="book-nav-link">02.5 - Comments</a>
        </li>
        <li class="book-nav-item">
          <a href="/programming-logic/ch02/02.6/" class="book-nav-link">02.6 - Pseudocode</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
