<nav class="book-nav" aria-label="Book navigation">
  <div class="book-nav-header">
    <a href="/programming-logic/" class="book-nav-root">Programming Logic</a>
  </div>

  <ul class="book-nav-tree">
    <li class="book-nav-item">
      <a href="/programming-logic/" class="book-nav-link">00 - Intro</a>
    </li>

    <li class="book-nav-item">
      <a href="/programming-logic/ch01/" class="book-nav-link">01 - Hardware &amp; Software</a>
      <ul class="book-nav-children">
        <li class="book-nav-item">
          <a href="/programming-logic/ch01/01.1/" class="book-nav-link">01.1 - Hardware</a>
        </li>
        <li class="book-nav-item">
          <a href="/programming-logic/ch01/01.2/" class="book-nav-link">01.2 - Software</a>
        </li>
        <li class="book-nav-item">
          <a href="/programming-logic/ch01/01.a/" class="book-nav-link">01.A - Advanced Topics</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
